# Exploring Tokenization

Mahesa Yuztar (220535601516/TI-B 2022)@author: Aman Kedia

In [ ]:
sentence = "The capital of China is Beijing"
sentence.split()

['The', 'capital', 'of', 'China', 'is', 'Beijing']

In [ ]:
sentence = "China's capital is Beijing"
sentence.split()

["China's", 'capital', 'is', 'Beijing']

In [ ]:
sentence = "Beijing is where we'll go"
sentence.split()

['Beijing', 'is', 'where', "we'll", 'go']

In [ ]:
sentence = "I'm going to travel to Beijing"
sentence.split()

["I'm", 'going', 'to', 'travel', 'to', 'Beijing']

In [ ]:
sentence = "Most of the times umm I travel"
sentence.split()

['Most', 'of', 'the', 'times', 'umm', 'I', 'travel']

In [ ]:
sentence = "Let's travel to Hong Kong from Beijing"
sentence.split()

["Let's", 'travel', 'to', 'Hong', 'Kong', 'from', 'Beijing']

In [ ]:
sentence = "A friend is pursuing his M.S from Beijing"
sentence.split()

['A', 'friend', 'is', 'pursuing', 'his', 'M.S', 'from', 'Beijing']

In [ ]:
sentence = "Beijing is a cool place!!! :-P <3 #Awesome"
sentence.split()

['Beijing', 'is', 'a', 'cool', 'place!!!', ':-P', '<3', '#Awesome']

# Regexp Tokenizer

In [ ]:
from nltk.tokenize import RegexpTokenizer
s = "A Rolex watch costs in the range of $3000.0 - $8000.0 in USA."
tokenizer = RegexpTokenizer('\w+|\$[\d\.]+|\S+')
tokenizer.tokenize(s)

['A',
 'Rolex',
 'watch',
 'costs',
 'in',
 'the',
 'range',
 'of',
 '$3000.0',
 '-',
 '$8000.0',
 'in',
 'USA',
 '.']

# Blankline Tokenizer

In [ ]:
from nltk.tokenize import BlanklineTokenizer
s = "A Rolex watch costs in the range of $3000.0 - $8000.0 in USA.\n\n I want a book as well"
tokenizer = BlanklineTokenizer()
tokenizer.tokenize(s)

['A Rolex watch costs in the range of $3000.0 - $8000.0 in USA.',
 'I want a book as well']

# WordPunct Tokenizer

In [ ]:
from nltk.tokenize import WordPunctTokenizer
s = "A Rolex watch costs in the range of $3000.0 - $8000.0 in USA.\n I want a book as well"
tokenizer = WordPunctTokenizer()
tokenizer.tokenize(s)

['A',
 'Rolex',
 'watch',
 'costs',
 'in',
 'the',
 'range',
 'of',
 '$',
 '3000',
 '.',
 '0',
 '-',
 '$',
 '8000',
 '.',
 '0',
 'in',
 'USA',
 '.',
 'I',
 'want',
 'a',
 'book',
 'as',
 'well']

# TreebankWord Tokenizer

In [ ]:
from nltk.tokenize import TreebankWordTokenizer
s = "I'm going to buy a Rolex watch which doesn't cost more than $3000.0"
tokenizer = TreebankWordTokenizer()
tokenizer.tokenize(s)

['I',
 "'m",
 'going',
 'to',
 'buy',
 'a',
 'Rolex',
 'watch',
 'which',
 'does',
 "n't",
 'cost',
 'more',
 'than',
 '$',
 '3000.0']

# Tweet Tokenizer

In [ ]:
from nltk.tokenize import TweetTokenizer
s = "@amankedia I'm going to buy a Rolexxxxxxxx watch!!! :-D #happiness #rolex <3"
tokenizer = TweetTokenizer()
tokenizer.tokenize(s)

['@amankedia',
 "I'm",
 'going',
 'to',
 'buy',
 'a',
 'Rolexxxxxxxx',
 'watch',
 '!',
 '!',
 '!',
 ':-D',
 '#happiness',
 '#rolex',
 '<3']

In [ ]:
from nltk.tokenize import TweetTokenizer
s = "@amankedia I'm going to buy a Rolexxxxxxxx watch!!! :-D #happiness #rolex <3"
tokenizer = TweetTokenizer(strip_handles=True, reduce_len=True)
tokenizer.tokenize(s)

["I'm",
 'going',
 'to',
 'buy',
 'a',
 'Rolexxx',
 'watch',
 '!',
 '!',
 '!',
 ':-D',
 '#happiness',
 '#rolex',
 '<3']

# Penjelasan

Berikut penjelasan mengenai pembelajaran Tokenisasi (Tokenization) ini:

1. **Pengenalan Tokenisasi**:
   Notebook dimulai dengan sel markdown sederhana yang memperkenalkan konsep tokenisasi. Diberikan gambaran tentang tokenisasi, yaitu proses memecah teks (kalimat atau paragraf) menjadi unit-unit yang lebih kecil seperti kata, frasa, atau karakter. Dalam konteks notebook ini, fokusnya adalah pada tokenisasi di tingkat kata.

2. **Tokenisasi Dasar Menggunakan `split()`**:
   Inti dari notebook ini berpusat pada penggunaan fungsi bawaan Python, yaitu `split()`, yang memecah kalimat menjadi kata-kata berdasarkan spasi. Misalnya, kalimat "The capital of China is Beijing" dipecah menjadi `['The', 'capital', 'of', 'China', 'is', 'Beijing']`. Beberapa sel kode menunjukkan hal ini untuk berbagai kalimat, yang menyoroti bagaimana tokenisasi sederhana dapat dilakukan. Setiap kalimat diproses dengan langsung memanggil `split()` pada string kalimat, dan hasil tokennya dicetak.

3. **Menangani Kasus Khusus dalam Tokenisasi**:
   Contoh-contoh berikutnya mengeksplorasi kalimat yang lebih kompleks yang mengandung kontraksi atau karakter khusus seperti apostrof. Misalnya, kalimat "Beijing is where we'll go" di-tokenisasi menjadi `['Beijing', 'is', 'where', 'we\'ll', 'go']`. Ini menunjukkan bahwa pemisahan dasar bekerja dengan baik untuk kalimat sederhana tetapi mungkin memerlukan teknik yang lebih canggih untuk menangani tanda baca, kontraksi, dan nuansa lain dalam pemrosesan bahasa alami. Namun, notebook ini tampaknya tidak membahas teknik tokenisasi yang lebih canggih selain menggunakan `split()` pada tahap ini.